@page "/tickets"


<PageTitle>N-NET</PageTitle>

<h1>Welcome to the N-NET</h1>
<hr />

<h4>Active offers and requests:</h4>
<div class="userButtons">
    <button class="btn btn-secondary" onclick="window.location.replace('/ticket')">+ New Ticket</button>
    <input class="textInput" type="text" placeholder="Search for items" /><br /><br />
</div><br/>


@foreach (Models.Ticket ticket in Services.TicketsService.GetTicketsService.GetTickets(0))
{
    <div class="ticket-card">
        <table>
            <tr>
                
                <td><strong>@Services.TypesService.GetTypesService.GetTypeById("ticket_types", @ticket.TicketType).Name</strong></td>
                <td>@Services.TypesService.GetTypesService.GetTypeById("org_types", @ticket.OrgType).Name</td></tr>
            <tr>
                <td colspan="2" style="font-size: 30pt;">@ticket.ItemQuantity <strong>@ticket.ItemName</strong></td></tr>
        </table>
    </div>
}

<script>
    let data = new FormData();
    data.set("id", sessionStorage.getItem("userid"));
    data.set("cert", sessionStorage.getItem("cert"));

    var xmlHttp = new XMLHttpRequest();

    xmlHttp.open("POST", "/api/validatelogin")
    xmlHttp.onload = () => {
        let valid = xmlHttp.responseText == "false" ? false : true;

        if (valid);

        else
            window.location.replace("/login");
    };

    xmlHttp.send(data);
</script>